# Ignore node_modules directory
node_modules/

# Ignore any files ending with .log
*.log

# Ignore build artifacts
build/
dist/
output.md

# Ignore environment-specific files
.env

# Ignore editor-specific files
.vscode/
.idea/

# Ignore any files or directories starting with a dot
crazyconfig.json
template.hbs